[Desktop Entry]
Type=Application
Name=Gearlynx
Comment=Atari Lynx emulator
Exec=gearlynx
Icon=icon
StartupWMClass=gearlynx
Categories=Game;Emulator
Terminal=false
